.auth-card {
  margin-top: 24px;
  max-width: 800px;
  border-radius:56px;
  padding: 0.3rem;
  background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);

  & > div {
    border-radius: 53px;
  }
}

.auth-form-link {
  color: var(--primary-color);
  text-decoration: none;
  text-underline: none;
}
