.ad-status {
  font-weight: 600;

  &.created {
    color: rebeccapurple;
  }

  &.under_review {
    color: royalblue;
  }

  &.awaiting_payment {
    color: orange;
  }

  &.designing {
    color: mediumpurple;
  }

  &.awaiting_confirmation {
    color: orange;
  }

  &.completed {
    color: green;
  }

  &.executing {
    color: royalblue;
  }

  &.in_action {
    color: green;
  }

  &.discontinued {
    color: dimgray;
  }

  &.canceled {
    color: red;
  }
}
